.body-padding {
    padding-top: 5em;
}

@media (max-width: 979px) {
    .body-padding {
        padding-top: 55px;
    }
}

#mainNav {
    padding: 0.5em;
}

#mainNav.navbar-shrink {
    padding: 0;
}

.dropdown>a {
    color: white;
}



.boxShadow{
	width: 51%;
    padding: 4em;
    margin-left: 17em;
    margin-top: 0em;
    box-shadow: 2.5px 2.5px 10px grey;
    border-radius: 20px;
}

.E {
	text-transform: uppercase;
	letter-spacing: 1px;
    font-size: 80%;
    text-align: center;
	color: #fff;
	padding: 1em 1em;
	background-color: red;
	border-radius: 20px;
}

.T {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-size: 80%;
	color: #fff;
	padding: 1em 1em;
	background-color: #656060;
	border-radius: 20px;
}

.submitreq {
	text-transform: uppercase;
	letter-spacing: 1px;
	text-align: center;
	font-size: 80%;
	color: #fff;
	padding: 1em 1em;
	background-color: #007bff;;
	border-radius: 20px;
}

.S {
	text-transform: uppercase;
	letter-spacing: 1px;
    font-size: 80%;
    text-align: center;
	color: #fff;
	padding: 1em 1em;
	background-color: rgb(133, 71, 47);
	border-radius: 20px;
}