.body-padding {
    padding-top: 5em;
}

@media (max-width: 979px) {
    .body-padding {
        padding-top: 55px;
    }
}

#mainNav {
    padding: 0.5em;
}

#mainNav.navbar-shrink {
    padding: 0;
}

.dropdown > a {
    color: white;
}