{% extends 'base_template.html' %}

{% block body %}



  <!-- Profile Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Profile Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">My Profile</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                

                <!-- Profile Section Form-->
                	<div class="form-group">
						<form method="POST">
							{% csrf_token %}
							<!-- {{ form }} -->
							<!-- ".as_p" loads all field as <p></p> -->
							{{ form.as_p }}
							<input type="hidden" name="user", value="{{ request.user.id }}">
							<input type="submit">
						</form>
					</div>
				
				<!-- Profile Section Form-->
			</div>
		</section>
  <!-- Profile Section-->






{% endblock %}



 <!-- Profile Section Form-->
                <!-- <div class="row">
                    <div class="col-lg-8 mx-auto">
                    	
						<form method="POST">
							{% csrf_token %} -->
							<!-- {{ form }} -->
							<!-- {{ form.as_p }} -->
							<!-- ".as_p" loads all field as <p></p> -->
							<!-- <table>
								{{ form.as_table }}
							</table>
							<input type="hidden" name="user", value="{{ request.user.id }}">
							<input type="submit">
						</form>
						
					</div>
				</div> -->
				<!-- Profile Section Form-->