{% extends 'base_template.html' %}

{% block body %}



  <!-- Profile Section-->
        <section class="page-section" id="contact">
            <div class="container">
                <!-- Profile Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About Us</h2>
                <!-- Icon Divider-->
                <div class="divider-custom">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                    <div class="divider-custom-line"></div>
                </div>
                

                <!-- Profile Section Form-->
                	<div class="form-group">
							<p>About Us</p>
							<!-- <img class="card-img-top cardimg" src="{{ food.photo.url }}" alt="Card image cap"> -->
							{% load static %} <img src="{% static 'images/team.png' %}" alt="team" />

						</form>
					</div>
				
				<!-- Profile Section Form-->
			</div>
		</section>
  <!-- Profile Section-->






{% endblock %}
